body
{
	background-color: #fefbd8;
}

			.header {
              background-color: #f44336;
              padding: 30px 40px;
              color: white;
              text-align: center;
            }
            .header:after {
              content: "";
              display: table;
              clear: both;
            }
            .forma
            {
              text-align:center;
              padding: 10px;
              font-family: Nunito serif;
              font-size: 20px;
            }
            input
            {
              width:300px;
            }
            input.form-check-input
            {
              width: 20px;
            }
            .card-header
            {
              text-align:center;
              text-shadow: 2px 0px 2px #ff0024;
              padding: 10px;
                font-size: 30px;
               font-family: Nunito serif;
            }
            input.titlee
            {
              width:72%;
            	padding: 10px;
            	  font-size: 20px;
               font-family: Nunito serif;
            }
            .dash
            {
              display: inline-flex;
            }

              .reg{
                padding: 2px;
              width: 8%;
              background: #d9d9d9;
              color: #555;
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              font-family: Nunito serif;
              cursor: pointer;
              transition: 0.3s;
              border-radius: 0;
              
              margin: 10px;
              }
             .HomeBtn {
              padding: 5px;
              width: 15%;
              background: #d9d9d9;
              color: #555;
              text-align: center;
              font-size: 20px;
              font-family: Nunito serif;
              cursor: pointer;
              transition: 0.3s;
              border-radius: 0;
              border: none;
              margin: 10px;

             }
            .addBtn {
              padding: 10px;
              width: 25%;
              background: #d9d9d9;
              color: #555;
              float: right;
              text-align: center;
              font-size: 20px;
              font-family: Nunito serif;
              cursor: pointer;
              transition: 0.3s;
              border-radius: 0;
              border: none;
            }

            .addBtn:hover {
              background-color: #bbb;
            }
        	